body{
    margin: 0;
    padding: 0;
    background: url(planetas.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
#resultado{ font-size: 25px;}
